<%= form_for(@absence) do |f| %>
  <% if @absence.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@absence.errors.count, "error") %> prohibited this absence from being saved:</h2>

      <ul>
      <% @absence.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field form-group">
    <%= f.label :reason %><br>
    <%= f.text_area :reason, rows: 3, :class=>" input-lg form-control" %>
  </div>

  <div class="field form-group">
    <%= f.label :date %><br>
    <%= f.text_field :date,:class=>"form-control",:size=>"40", :id=>"date" %>
  </div>
  
  <div class="field form-group">
    <%= f.label :manager_id %><br />
    <%= f.collection_select :manager_id, @manager_users,:id,:email, {prompt: "Select a category"}, {class: "form-control"} %>
  </div>
  
  <div class="actions">
    <%= f.submit "Sent Leave Application" ,:class=>"btn btn-info" %>
  </div>
<% end %>
<script type="text/javascript">
$(document).ready(function () {
  var dateToday = new Date();
  $('#date').dateRangePicker({
    beforeShowDay: $(this).noWeekends,
    startDate: dateToday,
    autoClose: true,
    format: 'DD-MM-YYYY',
    selectForward: true,
    minDays: 1,
    maxDays: 30,
    showShortcuts: false
  });
});
</script>