<div class="container">
  <center><h1>List of Leave-Applications</h1></center>
  <% if current_user.role == "employee" %>
    <%= link_to 'Create leave application', new_absence_path ,:style=>"margin-bottom: 15px;",:class=>"pull-right btn btn-info"%>
    <br>
    <br>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reason for leave</th>
          <th>Date</th>
          <th>Manager email</th>
          <th>Status</th>
          <th colspan="3">Show link</th>
        </tr>
      </thead>
      <tbody>
        <% if !current_user.users_absences.nil? %>
          <% current_user.users_absences.each do |absence| %>
            <tr>
            <% @absence = Absence.find(absence.absence_id) %>              
              <td><%= @absence.reason %></td>
              <td><%= @absence.date %></td>
              <td><%= User.find(@absence.manager_id).email %></td>
              <% if absence.status.nil? %>
                <td><strong><%= "pending" %></strong></td>
              <% else %>
                <td><strong><%= absence.status %></strong></td>
              <% end %>
              <td><%= link_to 'Show', @absence %></td>
              <!--<td><%#= link_to 'Destroy', absence, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
            </tr>
          <% end %>
        <%end %>
      </tbody>
    </table>
  <% end %>

  <% if current_user.role == "manager" %>
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Reason for leave</th>
          <th>Date</th>
          <th>Manager name</th>
          <th>Status</th>
          <th>Actions</th>
          <th colspan="3">Show link</th>
        </tr>
      </thead>
      <tbody>
      <% absence_ids = Absence.all.where(:manager_id => current_user.id) %>
      <% absence_ids.each do |a| %>
        <% absence = UsersAbsence.find(a) %>
        <% absence.inspect %>
        <% @absence = Absence.find(a) %>
        <% if absence.status.nil? %>
          <tr>
            <td><%= @absence.reason %></td>
            <td><%= @absence.date %></td>
            <td><%= User.find(@absence.manager_id).email %></td>
            
            <% if absence.status.present? %>
              <td><strong><%= absence.status  %></strong></td>
            <% else %>
              <td><strong><%= "pending" %></strong></td>
            <% end %>
            <% if absence.is_approve == false %>
              <td>
              <%= link_to "reject","" ,  :'data-toggle'=>"modal", :'data-target'=>"#myModal"%> | 
              <%= link_to "approve", absence_absence_approve_path(@absence) , data: { confirm: 'Are you sure?' }%></td>
            <% else %>
              <td> <%= "already approved" %></td>
            <% end %>  
            <td><%= link_to 'Show', @absence %></td>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  <% end %>

  <% if !@absence.nil? %>
    <div id="myModal" class="modal fade" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Reasone to reject leave application</h4>
          </div>
          <div class="modal-body form-group">
            <%= form_for  @absence, url: absence_absence_reject_path(@absence), html: { method: :post } do |f| %>
              <%= f.text_area :reject_msg, rows: 5, :class=>" input-lg form-control" %>
          </div>
          <div class="modal-footer">
              <%= f.submit "submit" ,:class=>"btn btn-primary" %>
            <% end %>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
